.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #1d1e18;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #1d1e18;
}
.carousel.carousel-slider .control-arrow {
  opacity: 1;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 25px;
  text-shadow: none;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
